

* {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	font-family: Arial;
	position: relative;
	line-height: 1;
	 -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearboth {
	clear: both;
}

.container {
	font-family: Arial;
	margin: 0 auto;
	width: 1280px;
	padding: 0 15px 30px;
}

header {
	padding: 10px 0 15px;
}

header .title {
	background-color: #b60000;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding: 5px 20px;
}

header .dvlr,
.mobile-dvlr {
	color: #4d4d4d;
	font-size: 12px;
	padding-top: 15px;
}

.dvlr .date,
.dvlr .views,
.dvlr .likes,
.dvlr .rtime,
.mobile-dvlr .views,
.mobile-dvlr .likes,
.mobile-dvlr .rtime {
	float: left;
}

.dvlr .date {
	padding-right: 10px;
}

.dvlr .rtime,
.mobile-dvlr .rtime {
	font-style: italic;
	padding-left: 10px;
}

.dvlr .views,
.dvlr .likes,
.mobile-dvlr .views,
.mobile-dvlr .likes {
	padding: 0 10px;
}

.dvlr .rtime span,
.mobile-dvlr .rtime span {
	background: url("../img/clock104.svg") no-repeat transparent;
}

.dvlr .likes span,
.mobile-dvlr .likes span {
	background: url("../img/favorite21.svg") no-repeat transparent;
}

.dvlr .views span,
.mobile-dvlr .views span {
	background: url("../img/eye110.svg") no-repeat transparent;
}

.dvlr .likes span,
.dvlr .views span,
.dvlr .rtime span,
.mobile-dvlr .likes span,
.mobile-dvlr .views span,
.mobile-dvlr .rtime span {
	background-size: cover;
	display: block;
	float: left;
	height: 14px;
	margin-right: 5px;
	margin-top: -2px;
	width: 14px;
}

.mobile-dvlr {
	padding: 15px 0;
}

.content-body .image,
.content-body .content {
	float: left;
}

.content-body .image {
	position: relative;
	overflow: hidden;
	width: 650px;
}

.content-body .content {
	padding-left: 20px;
	width: 489px;

}

.counter {
	background-color: rgba(0, 0, 0, 0.8);
	bottom: 10px;
	color: #fff;
	padding: 5px 10px;
	position: absolute;
	right: 10px;
}

.topleft {
	background-color: rgba(0, 0, 0, 0.5);
	top: 10px;
	color: #fff;
	padding: 2px 5px;
	position: absolute;
	left: 10px;
}

.topleft1 {
	background-color: rgba(0, 0, 0, 0.5);
	top: 10px;
	color: #fff;
	padding: 5px 5px;
	position: absolute;
	left: 10px;
}

.topright {
	background-color: rgba(0, 0, 0, 0.5);
	top: 10px;
	color: #fff;
	padding: 2px 5px;
	position: absolute;
	right: 10px;
}

.bottomleft {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 10px;
	color: #fff;
	padding: 2px 5px;
	position: absolute;
	left: 10px;
}


.mobile-title,
.mobile-dvlr {
	display: none;
}

.content .title,
.mobile-title {
	font-size: 30px;
	line-height: 1em;

}

.content .article {
	font-size: 12px;
	font-style: italic;
	padding: 15px 0;
}

.content .article span {
	background: url("../img/alignment25_01.png") no-repeat transparent;
	background-position: center center;
	background-size: 12px;
	display: block;
	float: left;
	height: 10px;
	margin-right: 5px;
	width: 15px;
}

.content .context {
	border-left: 1px solid #989898;
	font-size: 20px;
	line-height: 1.35em;
	padding-left: 15px;
}

.wrap-btn {
	padding: 40px;
	text-align: center;
}

.wrap-btn .btn {
	background: #007fff;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	padding: 10px 40px;
	text-decoration: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	line-height: 1.35em;
}

footer {
	background-color: #efefef;
	padding-bottom: 30px;
}

footer .wrap {
	margin: 0 auto;
	padding: 0 15px;
	width: 834px;
}

footer .wrap .title {
	color: #a1a4ab;
	font-size: 20px;
	font-weight: 600;
	padding: 15px 0 5px;
}

footer .sponsore {
	color: #a1a4ab;
	font-size: 12px;
	padding-bottom: 5px;
	text-align: left;
}

.placeholder {
	min-height: 200px;
}

.placeholder li {
	display: inline;
}

.image img {
	width: 100%;
}

.mobile-title a,
.content .title a {
	color: #000;
	font-weight: bold;
}

@media screen and (max-width: 890px) {
	.container,
	footer .wrap {
		width: 100%;
	}
	.content-body {
		position: relative;
		clear: both;
	}
	.content-body .image,
	.content-body .content {
		float: none;
		width: 100%;
	}
	.content-body .image {
		text-align: center;
	}
	.content .title,
	.dvlr .likes,
	.dvlr .views,
	.dvlr .rtime {
		display: none;
	}
	.mobile-dvlr {
		display: block;
	}
	.mobile-title {
		display: block;
		padding: 15px 0 0;
	}
	header .title {
		float: left;
	}
	header .dvlr {
		float: left;
		padding-left: 20px;
		padding-top: 10px;
	}
}

@font-face {
	font-family: 'icomoon';
	src: url('http://clickr.us/brit.new.7/files/icomoon.eot?if7fcd');
	src: url('http://clickr.us/brit.new.7/files/icomoon.eot?if7fcd') format('embedded-opentype'), url('../img/icomoon.ttf') format('truetype'), url('../img/icomoon.woff') format('woff'), url('../img/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon'!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
	content: "\e900";
}

.advr {
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
	font-size: 19px;
	margin-top: 5px;
	color: #626262;
}

